p {
  font-size: 24px;
  color: #333;
}

#title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 60px;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
}

#timer-label {
  font-size: 48px;
  color: #000;
  margin: 10px;
}

#time-left {
  font-size: 48px;
  color: #000;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: radial-gradient(ellipse, greenyellow, orange); 
  padding: 20px;
}

.con-1 {
  border: 2px solid orange;
  border-radius: 10px;
  gap: 10px;  
  padding: 20px;
  background-color: #fff;
  margin-bottom: 30px;
} 

.con-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid greenyellow;
  border-radius: 10px;
  padding: 30px;
  background-color: #fff;
}

.labels {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.labels h2 {
  margin: 0 40px;
  color: black;
  font-size: 32px;
}

.bs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0;
}

.ud-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ud-buttons button {
  padding: 10px 20px;
  border: none;
  background-color: orange;
  color: #fff;
  font-size: 16px;
}

.ud-buttons button:hover {
  background-color: orangered;
  cursor: pointer;
}

.ud-buttons button:active {
  transform: scale(0.9);
  background-color: red;
}  

.controls button {
  padding: 10px 10px;
  border: none;
  font-size: 18px;
  margin: 0 10px;
}

#start_stop:active {
  transform: scale(0.95);
  background-color: greenyellow;
}